osx_image: xcode7.3
language: objective-c
rvm: 2.2.4
cache:
  - bundler
  - cocoapods
install:
    - bundle install
    - bundle exec pod repo update --silent
    - bundle exec pod install
script:
    - bundle exec rake ci
branches:
  only:
    - master
    - development
    - /^release/
